.home{
	.scroll-to{
		color: $gray-light;
		span{
			@include font-size(30);
		}
	}
	.home-spot{
		@include stellar-bg(350);
		background-color: $green-accent;
		background-image: url('../images/home_spot_2__bg.jpg');
		@include center-block();
		text-align: center;
		@media (min-width: $screen-md-min){
			@include stellar-bg(650);
		}
		a{
			position: absolute;
			left: 0;
			right: 0;
			color: $white;
			&.custom-logo-link{
				top: 33.3%;
			}
			&.scroll-to{
				bottom: 10%;
			}
		}
	}
	.section{
		padding-top: 75px;
		padding-bottom: 35px;
		.scroll{
			text-align: center;
			margin-top: 55px;
		}
		.section-container{
			@extend .container;
			.page-header{
				margin-top: 0;
				margin-bottom: 55px;
				@include center-block();
				text-align: center;
				border-bottom: 1px solid transparent;
				h2{
					display: inline-block;
					@include font-size(24);
					text-transform: uppercase;
					padding: 0;
					margin: 0;
					&:after{
						content: '';
					    display: block;
					    width: 40px;
					    height: 2px;
					    margin: .5em auto 0;
					    background-color: $gray-light;
					}
				}
			}
			.items{
				@include make-row();
				.item{
					@include make-xs-column(12);
					@include make-sm-column(4);
					@include make-md-column(4);
					@include make-lg-column(4);
					text-align: center;
				}
			}
		}
		&.what-we-are{
			.items{
				.item{
					.item-caption{
						h3, p{
							@include center-block();
						}
						h3{
							@include font-family(opensans, condensedbold);
							@include font-size(16);
							width: 45%;
							a{
								color: $gray;
								&:hover{
									color: $gray-dark;
								}
							}
						}
						p{
							@include font-size(13);
							width: 75%;
						}
					}
					&:hover{
						img{
							@include keyframes(flipInY) {
							  0% {
							    opacity: 1;
							    @include transform(perspective(140px) rotateY(90deg));
							  }
							  40% {
							  	opacity: 1;
							    @include transform(perspective(140px) rotateY(-10deg));
							  }
							  70% {
							  	opacity: 1;
							    @include transform(perspective(140px) rotateY(10deg));
							  }
							  100% {
							    opacity: 1;
							    @include transform(perspective(140px) rotateY(0deg));
							  }
							}
							@include flipInY();
						}
						.item-caption{
							color: $gray-dark;
							a{
								color: $gray-dark;
							}
						}
					}
				}
			}
		}
		&.separator{
			@include stellar-bg(50);
			background-color: $green-accent;
			background-image: url('../images/home_spot_2__bg.jpg');
			background-size: cover;
			padding-top: 25px;
			padding-bottom: 25px;
		}
		&.sections{
			background-color: $yellow;
			.items{
				.item{
					@include make-xs-column(6);
					@include make-sm-column(4);
					@include make-md-column(4);
					@include make-lg-column(4);
					margin-bottom: 30px;
					.item-container{
						position: relative;
						background-color: $gray;
						overflow: hidden;
						img{
							@include img-responsive();
							@include keyframes(fadeIn) {
									  0% {opacity: .15;}
									100% {opacity: 1;}
								}
							@include fadeIn();
						}
						.item-caption{
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							h3{
								@include font-family(reis);
								@include font-size(36);
								text-transform: uppercase;
								a{
									color: $gray-lighter;
									@include opacity(.85);
								}
							}
							@media (min-width: $screen-md-min){
								h3{
									@include font-size(72);
								}
							}
						}
					}
					&:hover{
						.item-container{
							position: relative;
							img{
								@include keyframes(fadeOut) {
									  0% {opacity: 1;}
									100% {opacity: .15;}
								}
								@include fadeOut();
							}
							.item-caption{
								h3{
									@include zoomIn();
									a{
										color: $white;
									}
								}
							}
						}
					}
				}
			}
		}
		&.social{
			@include stellar-bg(500);
			background-color: $green-sky;
			background-image: url('../images/social_media__bg.jpg');
			@media (min-width: $screen-md-min){
				@include stellar-bg(750);
			}
			.section-container{
				.page-header{
					h2{
						color: $white;
						&:after{
						    background-color: $white;
						}
					}
				}
			}
			.items{
				.item{
					@media (max-width: $screen-xs-max){
						margin-bottom: 20px;
					}
				}
			}
			
			.scroll{
				.scroll-to{
					color: $white;
				}
			}
		}
		&.instituciones{
			background-color: $gray-lighter-2;
			.section-container{
				.page-header{
					h2{
						color: $gray-dark;
						&:after{
						    background-color: $gray;
						}
					}
				}
				.owl-carousel{
					.owl-item{
						.item{
							a{
								display: block;
								img{
									border: 1px solid $gray-lighter;
									@include opacity(.85);
								}
							}
							&:hover{
								a{
									background-color: $gray-lighter;
									img{
										@include opacity(1);
										border: 1px solid $mint;
									}
								}
							}
						}
					}
				}
			}
			.scroll{
				.scroll-to{
					color: $gray-dark;
				}
			}
		}
	}
} 