.page{
	&.page-template-template-documents-archive{
		.table{
			margin-top: 30px;
			a{
				color: $gray-dark;
			}
			tbody{
				tr{
					th{
						ul{
							margin-top: 10px;
							margin-bottom: 0;
							@extend .list-inline;
							@include font-size(10);
							@include fadeOut();
							li, li a{
								font-weight: normal;
								color: $green-aiaf;
							}
						}
					}
					&:hover{
						background-color: $gray-lighter;
						th{
							ul{
								@include fadeIn();
							}
						}
					}
				}
			}
		}
	}
	&.page-template-template-institutions{

			

				.institutions-type{
					@include make-row();
					.institutions-type-title{
						@include make-sm-column(12);
					}
					.institutions-type-container{
			
						article{
							@include make-sm-column(6);
							header{
								.entry-title{
									@include font-family(opensans, condensedbold);
									@include font-size(24);
								}
							}
							.entry-content{
								address{
									strong{
										@include font-family(opensans, condensedlight);
									}
									small{}
									abbr, span{
										@extend .small;
									}
								}
							}
						}
					}
				}

	
	}
}