@font-face {
    font-family: 'opensansextrabold';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBold-webfont.svg#opensansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensansbold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#opensansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensanscondensedbold';
    src: url('../fonts/OpenSans-CondBold-webfont.eot');
    src: url('../fonts/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-CondBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-CondBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-CondBold-webfont.svg#opensanscondensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensanssemibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#opensanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#opensansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensanslight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#opensanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensanscondensedlight';
    src: url('../fonts/OpenSans-CondLight-webfont.eot');
    src: url('../fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-CondLight-webfont.woff') format('woff'),
         url('../fonts/OpenSans-CondLight-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-CondLight-webfont.svg#opensanscondensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'reisregular';
    src: url('../fonts/reis-regular-webfont.eot');
    src: url('../fonts/reis-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/reis-regular-webfont.woff2') format('woff2'),
         url('../fonts/reis-regular-webfont.woff') format('woff'),
         url('../fonts/reis-regular-webfont.ttf') format('truetype'),
         url('../fonts/reis-regular-webfont.svg#reisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Mozilla based browsers */
::-moz-selection {
    background-color: $orange;
    color: $white;
}

/* Works in Safari */
::selection {
    background-color: $orange;
    color: $white;
}

html{
  font-size: 62.5%
}

body{
	@include font-family(opensans,regular);	
	@include font-size(14);
    background-color: $white-smoke;
}

h1, h2{
	@include font-family(opensans,light);	
}

a{
    @include transition(color 1s ease);
    &:hover{
        text-decoration: none;
    }
}

.masshead{
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    z-index: 1;
    @include focus-shadow();
    .page-header{
        position: relative;
        z-index: 10;
        @extend .text-center;
        margin: 120px auto 30px;
        border-bottom: 1px solid transparent;
        h1{
            @include font-family(reis);
            @include font-size(60, 72);
            @include text-on-focus();
            margin: 0 auto;
        }
    }
}
.wrap{
    .content{
        padding-bottom: 30px;
        .main{
            article{
                @include make-row(0);
                min-height: 150px;
                margin-bottom: 40px;
                .entry-container{
                    background: $white;
                    @include shadow-box();
                    overflow: hidden;
                    header{
                        @include make-row(0);
                        img{
                            @extend .pull-left;
                        }
                    }
                }

                &.news{
                    .entry-left{
                        width: 100%;
                        height: 185px;
                        display: block;
                        .entry-left-container{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .entry-body{
                        padding-left: 30px !important;
                        padding-right: 30px !important;
                        h2{
                            @include font-family(opensans, bold)
                            @include font-size(18, 23);
                            padding-bottom: 15px;
                            a{
                                color: $gray-dark;
                                &:hover{
                                    color: $green-aiaf;
                                }
                            }
                        }
                    }

                    .post-meta{
                        position: relative;
                        width: 100%;
                        padding-top: 12px;
                        padding-bottom: 12px;
                        border-top: 1px solid $gray-lighter;
                        @extend .clearfix;
                        .post-date{
                            float: left;
                        }
                        .post-comments{
                            float: right;
                        }
                    }

                    @media (min-width: $screen-sm-min){
                        .entry-left{
                            height: 300px;
                        }
                        .entry-left, .entry-body{
                            @include make-sm-column(6, 0);

                        }
                        .entry-body{
                            height: 300px;
                            h2{
                                @include font-size(24, 30);
                            }
                        }

                        .post-meta{
                            position: absolute;
                            width: 100%;
                            bottom: 0;
                            right: 0;
                            left: 0;
                            padding-left: 30px;
                            padding-right: 30px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $screen-md-min){
	.container{
		width: 970px;
	}
}