.menu-navegacion-social-container{
	ul{
		@extend .list-inline;
		li{
			a{
				@include fa-icon();
				@include font-size(24)
				background-color: transparent;
				width: 24px;
				height: 24px;
				padding: 0;
				text-align: center;
				line-height: 24px;
				@include keyframes(fadeIn) {
					0% {opacity: .75;}
					100% {opacity: 1;}
				}
				@include fadeIn();
				span{
					@include text-hide();
				}
				&:before{
					color: $white;
				}
				&:hover{
					@include keyframes(fadeOut) {
					  0% {opacity: 1;}
					100% {opacity: .75;}
					}
					@include fadeOut();
				}
			}

			&.fb{
				a{
					&:hover{
					}
					&:before{
						content: $fa-var-facebook-square;
					}
				}
			}
			&.tw{
				a{
					&:before{
						content: $fa-var-twitter-square;
					}
				}
			}
			&.gp{
				a{
					&:before{
						content: $fa-var-google-plus-square;
					}
				}
			}
			&.wp{
				a{
					&:before{
						content: $fa-var-wordpress;
					}
				}
			}
			&.yt{
				a{
					&:before{
						content: $fa-var-youtube-square;
					}
				}
			}
		}	
	}
}